<header>
  <div class="container">
    <div class="header-wrap">
      <div class="row">
        <ng-content select=".logo"></ng-content>

        <div class="col-lg-6">
          <div class="search">
            <input class="search__input"
                   [placeholder]="placeholder"
                   (input)="onSearch(input.value)"
                   type="text" #input>
            <button class="search__button"><i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-end">
          <course-cart></course-cart>
        </div>

      </div>
    </div>
  </div>
</header>
