<course-header
  [logo]="logo"
  [placeholder]="placeholder"
  (search)="searchText = $event"
>
  <div class="logo col-lg-3" >
    <div >
      <img [src]="logo" alt="logo">
    </div>
  </div>
  <div id="cart" class="col-lg-3 d-flex justify-content-end">
    <div class="cartCell">
      <div class="cartCell__link">корзина <span>(0)</span></div>
      <!--<div class="dropCel g-open">-->
      <!--<ul class="cart">-->
      <!--<li class="item">-->
      <!--<div class="item__img">-->
      <!--<img src="assets/img/img1.jpg" alt="pic">-->
      <!--</div>-->
      <!--<ul class="item__date">-->
      <!--<li class="name">обои 1</li>-->
      <!--<li class="count">-->
      <!--<span class="count__decrease">-</span>-->
      <!--<span class="count__sum">5</span>-->
      <!--<span class="count__increase">+</span>-->
      <!--</li>-->
      <!--<li class="prices">Цена 1500 грн</li>-->
      <!--</ul>-->
      <!--<div class="item__delete"><i class="fas fa-times"></i></div>-->
      <!--</li>-->
      <!--<li class="item">-->
      <!--<div class="item__img">-->
      <!--<img src="assets/img/img1.jpg" alt="pic">-->
      <!--</div>-->
      <!--<ul class="item__date">-->
      <!--<li class="name">обои 1</li>-->
      <!--<li class="count">-->
      <!--<span class="count__decrease">-</span>-->
      <!--<span class="count__sum">5</span>-->
      <!--<span class="count__increase">+</span>-->
      <!--</li>-->
      <!--<li class="prices">Цена 1500 грн</li>-->
      <!--</ul>-->
      <!--<div class="item__delete"><i class="fas fa-times"></i></div>-->
      <!--</li>-->
      <!--<li class="item">-->
      <!--<div class="item__img">-->
      <!--<img src="assets/img/img1.jpg" alt="pic">-->
      <!--</div>-->
      <!--<ul class="item__date">-->
      <!--<li class="name">обои 1</li>-->
      <!--<li class="count">-->
      <!--<span class="count__decrease">-</span>-->
      <!--<span class="count__sum">5</span>-->
      <!--<span class="count__increase">+</span>-->
      <!--</li>-->
      <!--<li class="prices">Цена 1500 грн</li>-->
      <!--</ul>-->
      <!--<div class="item__delete"><i class="fas fa-times"></i></div>-->
      <!--</li>-->
      <!--<li class="item">-->
      <!--<div class="item__img">-->
      <!--<img src="assets/img/img1.jpg" alt="pic">-->
      <!--</div>-->
      <!--<ul class="item__date">-->
      <!--<li class="name">обои 1</li>-->
      <!--<li class="count">-->
      <!--<span class="count__decrease">-</span>-->
      <!--<span class="count__sum">5</span>-->
      <!--<span class="count__increase">+</span>-->
      <!--</li>-->
      <!--<li class="prices">Цена 1500 грн</li>-->
      <!--</ul>-->
      <!--<div class="item__delete"><i class="fas fa-times"></i></div>-->
      <!--</li>-->
      <!--</ul>-->
      <!--<div class="totalCel">Итого: 3450 грн</div>-->
      <!--</div>-->
    </div>
  </div>

</course-header>

<section class="main">

  <div class="container">
    <div class="row" *ngIf="products$ | async as products; else loadRef">
      <!--<div *ngFor="let key of products[0] | keyvalue ">-->
        <!--<div>{{key | json}}</div>-->
      <!--</div>-->
      <course-card *ngFor="let product of products | productFilter:searchText; let isOdd = odd "
                   [product]="product" [isOdd]="isOdd"
      ></course-card>
    </div>
    <ng-template #loadRef>
      <div>
        ...loading
      </div>
    </ng-template>
  </div>
</section>
<course-footer></course-footer>
